.svg_animate {
  animation-name: AnimatePlanet;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1200ms;
}

.svg_animate_delayed {
  animation-name: AnimatePlanet;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 1800ms;
}

.svg_animate_delayed2 {
  animation-name: AnimatePlanet;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-delay: 2400ms;
}

@keyframes AnimatePlanet {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.svg_animate_start {
  animation-name: AnimatePlanetMain;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
}

@keyframes AnimatePlanetMain {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
