.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  height: 50px;
  padding: 0 0 0 0.8rem;
}

.div-planets-desktop {
  display: none;
}
.h2 {
  color: white;
  margin: 0;
  font-family: var(--font);
  padding-left: 0.5rem;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 7px 13px 8px 13px;
  height: 49px;
  width: 60px;
}
.hamburger-menu:hover {
  background-color: rgb(14, 14, 90);
}

.hamburger-menu-span {
  width: 25px;
  height: 5px;
  border-radius: 2px;
  border: 1px solid black;
  background-color: rgb(207, 207, 207);
}

@media screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
  .div-planets-desktop {
    display: flex;
  }
}
@media screen and (min-width: 1025px) {
  .header {
    padding: 0 1.5rem;
    font-size: 1.5rem;
  }
}
